body {
    margin:40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #222;
    padding: 0 10px
}
html {
    font-family: sans-serif;
    background-color: #fafafa;
}
h1,h2,h3 {
    line-height: 1.2
}
a {
    color: #07a;
}

blockquote {
    color: #666666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #EEE solid;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #eee;
    margin: 1em 0;
    padding: 0;
}

pre, code, kbd, samp {
    color: #000;
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
    font-size: 0.98em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.caption {
    text-align: center;
}
img {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    max-width: 120%;
}
@media only screen and (max-device-width: 800px) {
  /* define mobile specific styles come here */
  img {
    max-width: 90% !important;
  }
}